@import url("https://fonts.googleapis.com/css?family=Righteous");
@import url("https://fonts.googleapis.com/css?family=Exo+2:400,900");
.ecard-orange {
  background-color: #5e4502;
}

.ecard-magenta {
  background-color: #6b0538;
}

.ecard-blue {
  background-color: #1b940b;
}

.ecard-red {
  background-color: #af2d2d;
}

#es-help-text {
  color: #bbb7b7;
  padding-top: 10px;
  border-style: solid;
  border-radius: 10px;
}

#es-help-text ul > li {
  font-style: bold;
  color: #fff;
}

.epage-list-user {
  padding: 10px;
  overflow-x: auto;
}

#edraw-table {
  margin: 10px;
}

.btn-sm {
  width: auto;
  height: 40px;
  font-size: 13px;
}

.delete {
  background-color: rgba(153, 48, 48, 0.527);
}

.primary {
  background-color: #4a77a3;
}
